



body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

.Hclass {
  padding: 30px;
  text-align: center;
  color:white;
  margin-top: 10px;
  
 


  background-color: #343330;
}

.Sclass {

  
  text-align:left;
  
  display:flex;
 
  margin-bottom: 0px;
}

.Aclass a {
  color: white;
  margin: 35px;
  
  
}

.Fclass h3{
  color: white;
}
.Aclass {
  
  padding: 30px;
  
  text-align: left;
  color:white;

  flex:18%;
  background-color: #15570c;
}
.Image1class {
  width:150px ;
  height:150px;
  border-radius: 70px;
  border-width: 20px;
  border-color: red;
  
}
.Image2class {
  
  width:50px ;
  height:50px;
  border-radius: 70px;
  
}
.Image3class {
  
  width:50px ;
  height:50px;
  border-radius: 10px;
  
}

.main{
  flex:82%;
  background-color:#FCF7F8;
  padding-left:25px ;
  padding:45px;
}
.Fclass img {
  border-radius: 70px;
}

.Fclass {
  background-color: #343330;
  padding: 20px;
  text-align: center;
}
